.vp-doc tr {
    background-color: var(--vp-c-bg) !important; 
}

.inline {
    display: inline;
}

.vp-link .vp-icon {
    display: inline-block !important;
}

.vp-nav-screen-menu-group .button .button-text .vp-icon {
    display: inline-block !important;
}
