.vp-doc tr {
    background-color: var(--vp-c-bg) !important; 
}

.inline {
    display: inline;
}

.vp-link .vp-icon {
    display: inline-block !important;
}

/*修复图标换行 bug*/

.vp-nav-screen-menu-group .button .button-text .vp-icon {
    display: inline-block !important;
}

/*微调导航栏图标*/

/* .vp-menu-link .vp-link .vp-icon {
    position: relative;
    top: 2px;
}

.vp-nav-screen-menu .vp-link .vp-icon {
    position: relative;
    top: 2px;
}

.navbar-menu-link .vp-icon {
    position: relative;
    top: 0.8px;
} */

/*修复外链 bug*/
/* span.vpi-external-link[data-v-ff82a999=""] {
    display: none;
} */

/*KaTeX 风格的细滚动条*/
.MathJax {
    overflow: auto hidden;
    padding-top: .2em;
    padding-bottom: .4em;  /*KaTeX 默认的 .2em 在这里不够*/
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
}